<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.zyy_sendwater">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:usesCleartextTraffic="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:resizeableActivity="true"
        android:theme="@style/Theme.ZYY_SendWater">
        <activity android:name=".ui.activity.StartActivity"
            android:exported="true"/>
        <activity android:name=".ui.activity.test.TestActivity2"
            android:exported="true"/>
        <activity android:name=".ui.activity.test.TestActivity1"
            android:exported="true"/>
        <activity android:name=".ui.activity.MainActivity"
            android:exported="true"/>
        <activity
            android:name=".ui.activity.LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>